{% extends "base.html" %}

{% block home %}

<div class='box'>
    <!-- <h1>Merri Zervas</h1> -->
        <h1>merri zervas</h1>
        <p>I'm pursuing a career in front-end development or UX design. I live in Ann Arbor, MI and will be graduating in May 2017 with a Bachelor of Science in Information focusing on user experience design
            and computer science. I'm pursuing a career in full-stack development,
            in which I aim to take advantage of my experience with UX design as well as with computer science.
            I care a lot about good design in programs and applications. My ideal position is one in which I can always be learning,
            growing, and working on cool projects. I have an open mind and I love working with people.
        </p>
        <h2><a href="work">work<a></h2><h2><a href="mailto:mzervas@umich.edu?Subject=Hi%20Merri" target="_top">contact</a></h2><br>

</div>

<!-- <div class='box2'>
    <div class='left'>
        <h1><a href='/'>WEB</a></h1>

        <img src="../static/hip.png" alt="hip hop congress">
        <h2><a href='http://www.hiphopcongress.herokuapp.com'>Hip Hop Congress</a></h2>
        <p>The Hip Hop Congress at UM was in need of a new website that could function as a regularly updated blog. The group
            needed to be able to compose and upload posts by themselves, so I made them a Tumblr account and use the
            Tumblr API to pull the content to their website.</p>
    </div>
    <div class='middle'>
        <h1><a href='/'>DESIGN</a></h1>

        <img src="../static/music.png" alt="music">
        <h2><a href='http://www.enigmatic-beyond-32546.com'>Music API web app</a></h2>
        <p>For a final project, I used Facebook and Seatgeek.com's APIs to tell you when your favorite bands are touring near you. I used Python,
            JavaScript, the Flask framework, DJango templates, HTML, and some Bootstrap for a simple design.
        </p>
    </div>

    <div class='right'>
        <h1><a href='/'>CONTACT</a></h1>
        <img src="../static/ktp.png" alt="ktp">
        <h2><a href='http://www.kappathetapi.com'>Kappa Theta Pi</a></h2>
        <p>I worked in the dev team in my professional fraternity to redesign our website.
        I organized the front-end team to use a simple template which we customized. I was responsible for the design, the mission of the site,
        as well as the modals in the About Us section. </p>
    </div>
</div> -->

<!-- <div class='box3'>
    <h2>Designs</h2>
    <p>In early January of this year, I participated at the <a href='https://startupweekend.org'>Startup Weekend</a> in Grand Rapids, MI.
        In this program, I participated as a designer in the very early stages of a startup called Dump, or better known as an AirBnB for parking.
        I learned a lot about design and what it's like to build a project in a very short amount of time (as we only had the majority of two days to work).
        I designed the prototype of the application and logo using Adobe Illustrator. </p>
</div> -->
{% endblock %}
