{% extends 'base.html' %}


{% block home %}

<div class='box2'>
    <h1>work</h1>
    <p><strong> <a href="http://hiphopcongress.herokuapp.com">Hip Hop Congress</a></strong></p>
        <p> Complete design and build.</p>
        <p><strong> <a href="http://enigmatic-beyond-32546.herokuapp.com/">Music App</a></strong> </p>
        <p> Complete design and build.</p>
        <p><strong> <a href="http://www.kappathetapi.com">Kappa Theta Pi</a></strong> </p>
        <p>Focus on and implementation of front-end.</p>
        <br><br>
        <a href="/" id='back'>back</a>
</div>

{% endblock %}
